
       <form class="form-horizontal" method="post" name="add_appointment" action="{% url 'add' %}">
                {% csrf_token %}
                <p class="">* Denotes Required Field</p>
                <input type="hidden" id="tags" value="tag1,tag2" style="width: 400px;">

                {% for field in add_form %}
                    <div class="control-group">
                        <label class="control-label ">{{ field.label }} </label>
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}
                                <div class="" style="margin: 10px auto;">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div style="clear: both;"></div>

                <div class="form-actions">
                    <button class="" name="add" type="submit" id="contact_link">Add Appointment</button>
                </div>
        </form>