<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Appointments</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
    <script type="text/javascript"> 
    $(document).ready(function() {
      $("#add_appointment").hide();
      $("#new-app").click(function () {
          $("#new-app").hide();
          $("#add_appointment").show("slow");
      });
      $("#cancel-app").click(function () {
          $("#new-app").show();
          $("#add_appointment").hide("slow");
      });

      });
    </script>

   <!--  <script type="text/javascript">
        var form = $(search_form);
        form.submit(function () {
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    $("#search_results").html(data).show();
                },
                error: function(data) {
                    $("#MESSAGE-DIV").html("Something went wrong!");
                }
            });
            return false;
        });
    </script> -->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">My Appointments Manager</a>
        </div>
      </div>
    </nav>

    </br></br>

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h2>Add Appointment</h2>
      </p>
      </br>
      <p><button id="new-app" type="button" class="btn btn-lg btn-info">NEW</button>
      <div id="add_appointment">
        {% include 'add_appointment.html' %}
      </div>
         {% if request.GET.success %}
          <div class="alert alert-success" role="alert">
          <strong>Great!</strong> You Created an appointment!
          </div>
        {% endif %}
   </div>

    <form id="search" class="dynamic-form"  name="search" action="{% url 'search' %}" method="post">
    {% csrf_token %}      
                    <div class="controls">
                    <span id="browse-ul" class="input-eg">
                        <!-- id="keyword" -->
                        {{ search_form.keyword }}
                    </span>
                            <button class="btn btn-lg btn-info"" type="submit" > Search</button>
                    </div>
              
                    <!-- <input type="submit" value="Search">     -->
      </form>
      <div id="search_results">
        {% include 'search_results.html' %}
      </div>   

    
        <!--  div class="page-header">
        <h1>Wells</h1>
      </div>
        <div class="well">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div> -->


    </div> <!-- /container -->
    <script>
      console.log("its working");
      $(document).on('submit', '.dynamic-form', function(form) {
        var $form = $(form);
        console.log("its working inside");
        $.ajax({
          type: form.method,
          url: form.action,
          data: $form.serialize(),
          success: function(data) {
            $form.replace(data);
          }
        });
      });
</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
