<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Appointments</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}"> rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- <script type="text/javascript" src="{% static "js/main.js" %}">></script> -->
    <script type="text/javascript">
    $(document).ready(function() {
      $("#add_appointment").hide();
      $("#new-app").click(function () {
          $("#new-app").hide();
          $("#add_appointment").show("slow");
      });
      $("#cancel-app").click(function () {
          $("#new-app").show();
          $("#add_appointment").hide("slow");
      });

      });
    </script>

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">My Appointments Manager</a>
        </div>
      </div>
    </nav>

    </br></br>

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h2>Add Appointment</h2>
      </p>
      </br>
      <p><button id="new-app" type="button" class="btn btn-lg btn-info">NEW</button>
      <div id="add_appointment">
        {% include 'add_appointment.html' %}
      </div>
           {% if request.GET.success %}
            <div class="alert alert-success" role="alert">
            <strong>Great!</strong> You Created an appointment!
            </div>
          {% endif %}
   </div>

    <form id="search_form" name="search_form" method="post">
              {% csrf_token %}
                <div class="controls">
                <span id="browse-ul" class="input-eg">
                    <!-- id="keyword" -->
                    {{ search_form.keyword }}
                </span>
                    <input class="btn btn-lg btn-info keyword" type="submit" value="Search"/>
                </div>

                    <!-- <input type="submit" value="Search">     -->
      </form>
        <div id="search_results">

        </div>

        <div id="MESSAGE-DIV" class="alert-danger"></div>


    </div> <!-- /container -->
  <script type="text/javascript">
   $("#keyword").change(function () {
     //var keyword = $(this).val();
     var form = $(this).closest("form");
     $.ajax({
       url: location.pathname,
       data: form.serialize(),
       //dataType: 'json',
       success: function (data) {
          $("#search_results").html(data);
       },
       error: function(data) {
           $("#MESSAGE-DIV").html("Something went wrong!");
       }
     });

   });
 </script>
    <!-- <script type="text/javascript">
          $("#keyword").change(function () {
           console.log("KEYWORDD "+$(this).val() );
         });
         var form = $(search_form);
         form.submit(function () {
           console.log("its working inside"+ form.serialize);
             $.ajax({
                 type: form.attr('method'),
                 url: '{% url "search" %}',
                 data: form.serialize(),
                 success: function (response) {
                     $("#search_results").html(response).show();
                 },
                 error: function(response) {
                     $("#MESSAGE-DIV").html("Something went wrong!");
                 }
             });
             return false;
         });
        $('#search_form').on('submit', '.keyword', function(event) {
          event.preventDefault();
          $.ajax({
                   type: $(this).attr('method'),
                   url:  $(this).attr('action'),
                   data:  $(this).serialize(),
                   success: function (response) {
                       $("#search_results").html(response);
                   },
                   error: function(response) {
                       $("#MESSAGE-DIV").html("Something went wrong!");
                   }
               });
               return false;
           });
     </script> -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
